.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__content {
  max-width: 540px;
}

.about__title {
  font-size: 36px;
  margin: 0 0 60px;
  text-align: center;
}

.about__text {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}