.video-container {
  position: relative;
  max-width: 640px;
  margin: 60px auto auto;
  display: block;
  justify-content: center;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}