.works {
  padding-top: 100px;
  padding-bottom: 100px;

  &-title {
    font-size: 36px;
    text-align: center;
  }

  &-text {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
}

