.works {
  padding-top: 100px;
  padding-bottom: 100px;

}

.works-title {
  font-size: 36px;
  text-align: center;
}

.works-text {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}